.NavParent {
   padding: 10px 30px; 
   display: flex;
   justify-content: space-between;
   
   margin: auto;
   align-items: center;
}
.Navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
    background: rgba(81, 81, 81, 0.118);
}

.NavSon1 {
  display: flex;
  align-items: center;
  
}
.NavSon1 p {
  font-size: 24px;
  font-weight: 500;
  color: #171717;
}

.NavSon2 ul {
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
}
.NavSon2 li {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.NavSon2 hr {
  border: none;
  border-radius: 10px;
  background: #FF4141;
  width: 80%;
  height: 3px;
  
}
.NavSon3 {
    gap: 10px;
    align-items: center;
    display: flex;
}
.NavSon3 button{
    height: 40px;
    width: 100px;
    border-radius: 20px;
    border: 1px solid #7a7a7a;
    color: #515151;
    background: white;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}
.NavSon3 button:active{
  background: #f3f3f3;    
}
.count{
  height: 22px;
  width: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -40px;
  margin-left: -15px;
  font-size:14px ;
  background: red;
  color: white;
  border-radius: 5px;
}